<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Bank Account
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Insert the employee bank account"
    ></i>
  </h2>

</div>

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="row mb-5">
      <!--begin::Col-->
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Bank</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
    </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Account Name</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
    </div>
    </div>
    <div class="row mb-5">
      <!--begin::Col-->
      <div class="col-md-6 fv-row">
          <!--begin::Label-->
          <label class="required fs-5 fw-bold mb-2">Account Number</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
          <!--end::Input-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Col-->
  </div>
  <div class="fv-plugins-message-container invalid-feedback">
    <!-- <ErrorMessage name='accountType' /> -->
  </div>
</div>
