<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Family Data
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Mark the checkbox to indicate the emergency number of the employee"
    ></i>
  </h2>

</div>

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="row mb-10">
     
        <div class="col-md-1 fv-row">
          <div class="d-flex align-items-center mt-3">
            <label class="form-check form-check-inline form-check-solid me-5"
              ><input
                class="form-check-input"
                name="communication[]"
                type="checkbox"
              /></label
            >
          </div>
        </div>
     
      <!--begin::Col-->
      <div class="col-md-5 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Name of Family Member </label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
    </div>
      <div class="col-md-3 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Relation</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
    </div>
    <div class="col-md-3 fv-row">
      <!--begin::Label-->
      <label class="required fs-5 fw-bold mb-2">Phone Number</label>
      <!--end::Label-->
      <!--begin::Input-->
      <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
      <!--end::Input-->
  </div>
    </div>
    
    <!--end::Col-->
    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='accountType' /> -->
    </div>
  </div>
</div>
