<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Address Based on ID Card
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Insert the address of employee data"
    ></i>
  </h2>

</div>

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="row mb-5">
      <!--begin::Col-->
      <div class="col-md-6 fv-row">
          <!--begin::Label-->
          <label class="required fs-5 fw-bold mb-2">Street Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
          <!--end::Input-->
      </div>
      <!--end::Col-->
    </div>
    
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Building</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Neighbourhood (RT/RW)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Urban Village (Kelurahan)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Sub-Distric (Kecamatan)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">City</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Postal Code</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    </div>
    <!--end::Col-->
    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='accountType' /> -->
    </div>
  
</div>

<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Residence Address
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Insert the address of employee data"
    ></i>
  </h2>
</div>    

<div class="fv-row" [formGroup]="form">
  <div class="row">
    <div class="row mb-5">
      <div class="row mb-6">
        <div class="col-lg-8 fv-row">
          <div class="d-flex align-items-center mt-3">
            <label class="form-check form-check-inline form-check-solid me-5"
              ><input
                class="form-check-input"
                name="communication[]"
                type="checkbox"
              /><span class="fw-bold ps-2 fs-6">Same with ID Card Address</span></label
            >
          </div>
        </div>
      </div>
      <!--begin::Col-->
      <div class="col-md-6 fv-row">
          <!--begin::Label-->
          <label class="required fs-5 fw-bold mb-2">Street Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
          <!--end::Input-->
      </div>
      <!--end::Col-->
    </div>
    
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Building</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Neighbourhood (RT/RW)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Urban Village (Kelurahan)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Sub-Distric (Kecamatan)</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">City</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
      <div class="col-md-6 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-bold mb-2">Postal Code</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="text" class="form-control form-control-solid" placeholder="" name="first_name" />
        <!--end::Input-->
      </div>
    </div>
    </div>
    <!--end::Col-->
    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='accountType' /> -->
    </div>
  
</div>
